<%= render 'load_repos_button' %>
<table class="table table-striped table-hover table-responsive table-condensed">
  <tr>
    <th>Repo Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% @repos.each do |repo| %>
    <tr>
      <td><%= repo.name %></td>
      <td><%= repo.description %></td>
      <td>
        <%= render 'book_add_button', repo: repo, user: user, repo_book_ids: @repo_book_ids %>
      </td>
    </tr>
  <% end %>
</table>
