<table class="builds table table-striped table-hover table-responsive table-condensed" ng-controller='BuildsController'>
  <tr>
    <th>#</th>
    <th>Branch</th>
    <th>Revision</th>
    <th>Status</th>
  </tr>
  <tr ng-repeat="build in builds">
    <td> {{build.id}}</td>
    <td> {{build.branch}} </td>
    <td> {{build.revision.substring(0,10)}} </td>
    <td ng-bind-html='statusLabel(build.status)'> </td>
  </tr>
</table>
<%= javascript_include_tag "application/kammic" %>
