<table class="table table-striped table-hover table-responsive table-condensed">
  <tr>
    <th>#</th>
    <th>Branch</th>
    <th>Revision</th>
    <th>Status</th>
  </tr>
  <% @builds.each do |build| %>
  <tr>
    <td> <%= link_to build.id, build_path(build.id) %> </td>
    <td> <%= build.book.repo.master_branch %> </td>
    <td> <%= build.revision && build.revision[0..10] %> </td>
    <td> <%= build_status(build.status) %> </td>
  </tr>
  <% end %>
</table>
