#history {
  .media.odd { background-color: rgb(238, 238, 238); }
  .media {
    border-top: 1px solid #dddddd;
    margin-top: 0;
    .media-body { margin-top: 2em; }
    .media-object { margin-top: 3em; }
    .message { font-weight: bold; }
    p {
      margin-bottom: 0.5em;
    }
  }
}
