.nav-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding:0;
  margin:0;
  z-index: 5;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  .status {
    padding: .5em;
    float: right;
    .btn {
      margin:0;
      .avatar {
        width: 18px;
        border-radius: 90em;
        margin:0;
        padding:0;
      }
    }
  }
}

.nav-bar:hover { opacity: 1; }
