      <div id="browser" data-ng-controller='BrowserController' ng-show="selected == 'Browser'">
        <div class='browser-inner'>
          <div ng-show="loading == true">
            <%= image_tag('spinner.gif', class: 'spinner') %>
          </div>
          <div ng-show="loading == false">
            <table class='file-list table table-striped table-condensed'>
              <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-click="$emit('parentSelected')" ng-show="currentPath.length > 0">
                <td>
                  <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </td>
                <td>
                  <a href="#">..</a>
                </td>
                <td></td>
              </tr>
              <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="file in files">
                <td ng-show="file.type == 'file'" ng-click="$emit('fileSelected', file)">
                  <a href="#"><span class="glyphicon glyphicon-file"></span></a>
                </td>
                <td ng-show="file.type == 'dir'" ng-click="$emit('dirSelected', file)">
                  <a href="#"><span class="glyphicon glyphicon-folder-close"></span></a>
                </td>
                <td ng-click="$emit('deleteFile', file.path)">
                  <a href="#">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </a>
                </td>
                <td ng-show="file.type == 'file'" ng-click="$emit('fileSelected', file)">
                  <a href="#">{{file.name}}</a>
                </td>
                <td ng-show="file.type == 'dir'" ng-click="$emit('dirSelected', file)">
                  <a href="#">{{file.name}}</a>
                </td>
              </tr>
            </table>
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model='fileName' placeholder='file name'>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="$emit('createFile')">
                      Create
                    </button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>
        </div>
      </div>
