  <div id="menu-browser" class="menu-button" ng-click="$emit('toggleMenu')" ng-controller="SaveStatusController">
    <a href="#">
      Some text here <span ng-class="class" class="glyphicon"></span>
    </a>
  </div>
