  <div id="nav" class="nav-bar" ng-click="$emit('toggleMenu')" ng-controller="NavBarController">
    <div class='save-status' ng-controller="SaveStatusController">
      <a href="#"> <span ng-class="class" class="glyphicon"></span> </a>
    </div>
  </div>
