  <div id="nav" class="nav-bar" ng-controller="NavBarController">
<!--     <div class='save-status' ng-controller="SaveStatusController">
      <a href="#"> <span ng-class="class" class="glyphicon"></span> </a>
    </div> -->
    <div class="status">
      <div class="btn-group dropup">
        <button  ng-click="$emit('toggleMenu')" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Menu
        </button>
      </div>
      <div class="btn-group dropup">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <img class='avatar' src="{{user.avatar_url}}" alt="{{user.login}}">
          {{user.login}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href='#'>Repos</a></li>
          <li><a href='#'>Save</a></li>
          <li><a href='#'>Commit</a></li>
          <li class="divider"></li> 
          <li><a href='#'>Logout</a></li>
        </ul>
      </div>
    </div>

  </div>
