    <div id="pending" data-ng-controller='PendingController' ng-show="selected == 'Pending'">
      <table class='file-list table table-striped table-condensed'>
        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="file in changed()">
          <td ng-click="$emit('fileSelected', {path: file})">
            <a href="#">
              <span class="glyphicon glyphicon-file"></span>
            </a>
          </td>
          <td ng-click="$emit('remove', file)">
            <a href="#">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </td>
          <td ng-click="$emit('fileSelected', {path: file})">
            <a href="#">{{file}}</a>
          </td>
        </tr>
      </table>
      <form role="form" ng-show="changed().length > 0">
        <textarea ng-model="message" placeholder="Commit Message" class="form-control" rows="3"></textarea>
        <button type="button" class="btn btn-primary" ng-click="$emit('saveAll')">Save All</button>
      </form>
    </div>
