<div class="container" data-ng-controller='ApplicationController'>
  <div id="editor" data-ng-controller='EditorController'><%= render 'code' %></div>

  <div id="preview" data-ng-controller='PreviewController' ng-bind-html-unsafe="preview">
  </div>

  <div id="browser" data-ng-controller='BrowserController'>
    <table>
      <tr>
        <td></td>
        <td>Name</td>
        <td>Sha</td>
        <td>Size</td>
      </tr>
      <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-click="$emit('parentSelected')">
        <td></td>
        <td>
          <a href="#">..</a>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="file in files">
        <td ng-show="file.type == 'file'" ng-click="$emit('fileSelected', file)">
          <a href="#"><i class="icon-file"></i></a>
        </td>
        <td ng-show="file.type == 'dir'" ng-click="$emit('dirSelected', file)">
          <a href="#"><i class="icon-folder-close"></i></a>
        </td>
        <td ng-show="file.type == 'file'" ng-click="$emit('fileSelected', file)">
          <a href="#">{{file.name}}</a>
        </td>
        <td ng-show="file.type == 'dir'" ng-click="$emit('dirSelected', file)">
          <a href="#">{{file.name}}</a>
        </td>
        <td>
          <a href="#">{{file.sha.substring(0, 10)}}</a>
        </td>
        <td>{{file.size}}</td>
      </tr>
    </table>
  </div>

  <div id="menu-button" ng-click="$emit('toggleBrowser')">
    <a href="#" >
      <i class='icon-tasks icon-white'></i>
    </a>
  </div>
</div>

<script>
  auth_token = '<%= "#{@current_user[:auth_token]}" %>';
</script>
<%= javascript_include_tag 'lib/ace-builds/src-noconflict/ace' %>
<%= javascript_include_tag 'editor/editor' %>
