<div class="container">
  <div id="editor"></div>
  <div id="preview"><h1>Preview</h1></div>
</div>

<%= javascript_include_tag 'lib/ace-builds/src-noconflict/ace' %>
<%= javascript_include_tag 'editor' %>
