body {
    overflow: hidden;
}

.container {

}

#editor,
#preview {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

#editor {
  left: 0;
}

#preview  {
  overflow: auto;
  right: 0; 
  padding-left: 1.7em;
}

#drawer {
  z-index: 5;
  background-color: #fff;
  position: absolute;
  left: 0;
  top:-125px;
  bottom: 0;
  width:15em;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

#menu.open {
  top:0px;
}

#menu {
  position: absolute;
  top:-125px;
  left:0;
  width:100%;
  background-color: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#tab {
  background-color: #000;
  top:0;
  right:3em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  position: absolute;
  padding: .3em .5em;
}
