body {
    overflow: hidden;
}

.container {

}

#editor,
#preview {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

#editor {
  left: 0;
}

#preview  {
  overflow: auto;
  right: 0; 
  padding-left: 1.7em;
}

#menu-button {
  position: absolute;
  right: 1em;
  bottom: 1em;
  background-color: #000;
  border-radius: .2em;
  padding: .5em;
  opacity: 0.5;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#menu-button:hover {
  opacity: 1;
}


#browser {
  display: none;
  z-index: 5;
  background-color: #AAA;
  position: absolute;
  border-radius: 5px;
  overflow: auto;
  padding:2em;
}

#browser ul {
  list-style: none;
  max-width: none;
  width: 100%;
}

#browser ul li {
  width: 29%;
  background-color: #FFF;
  float: left;
  margin: .5em .5em;
  padding: .4em;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}

#browser ul li span {
  display: block;
}
