body {
  overflow: hidden;
}

#editor,
#preview {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

#editor {
  left: 0;
}

#preview  {
  overflow: auto;
  right: 0; 
  padding-left: 1.7em;
  padding-right: .5em;
}

#preview p {
  max-width: none;
}

.menu-button#menu-browser {
  right: 1em;
}

.menu-button#menu-changes {
  right: 3.5em;
}


.menu-button {
  position: absolute;
  bottom: 1em;
  background-color: #000;
  border-radius: .2em;
  opacity: 0.8;
  padding: .5em;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.menu-button a,
.menu-button a:visited,
.menu-button a:hover {
  color:#FFF;
}

.menu-button:hover {
  opacity: 1;
}

.modal {}

#browser .browser-inner {
  padding: 1em;
}

#menu-panel {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 5;  
  background-color: #fff;
  border-radius: 5px;
  border: 5px solid rgba(0,0,0,0.2);  
}

#browser a,
#browser a:visited,
#browser a:hover {
  color:#0099ff;
}

table.file-list {
  line-height: 1.4;
  width: 100%;
}

.file-list tr {
  border-bottom: 1px solid #eee;
  cursor: hand;
  cursor: pointer;
}

.file-list tr:hover {
  background-color: #EEE;
}

.file-list td {  
  padding: .3em;
}

#browser .spinner {
  width: 24px;
  position: absolute;
  left: 49%;
  top: 49%;
}

#menu-panel {
  padding: 1em;
}

.menu-header .nav li {
  padding: .3em;
}

.menu-header .nav li a {
  padding: .5em;
}

#history img {
  border-radius: 10em;
}

#history .commit {
  padding: 1em;
}
