.navbar.fixed-top  {
  top: 0;
  border-radius: 0;
  .avatar {
    height: 1em;
    border-radius: 90px;
  }
}

.container {
  .refresh-button {
    margin-bottom: 1em;
  }

  .repo-list {
    .no-wrap, th { white-space: nowrap; }
  }
}
